<style>
#similarity div{
    position: relative;
    height: 100%;
}
.content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 40px;
}
.content h1 {
    font-size: 70px;
    font-weight: bold;
    color: #262626;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.content h2 {
  font-size: 35px;
  font-weight: bold;
  color: #262626;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.content p {
line-height: 1.5;
font-style: italic;
margin: auto;
color: #000;
}

.textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-color: #000;
  border-width: 1px;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  
}

.submit{
  background-color: #fff;
  border-color: #fff;
  border-radius: 4px;
  padding:10px;
  margin:10px 0;
  transition-duration: 0.4s;
  color: #000;
}
.submit:hover {
  background-color: #ddffde; 
  color: #000;
}

</style>

<div id="similarity">
    <section class="content">
      <h2>Text similarity</h2>
      <form [formGroup]="similarityForm" (submit)="findSimilarity()" class="mb-5">
        <p>Please enter the sentences you want to compare:</p>
       
        <div><textarea type="text" class="textarea" placeholder="My text.." [formControlName]="'text1'"></textarea></div>

        <div><textarea type="text" class="textarea" placeholder="My text.." [formControlName]="'text2'"></textarea></div>
        
        <div><input type="submit" class="submit" value="Submit"></div>
        
        <div>
          <p>This is your similarity: </p>
          <span style="color: red;">{{this.similarity.similarity}}</span> 
        </div>
      </form>
    </section>
</div>